.card-section {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .card-section {
    grid-template-columns: 1fr;
  }
}